#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ctron
GenericName=TUF Control Applet
Comment=ASUS TUF Gaming Laptop Control Center (512x512 TUI Applet by Arcioth & Kerempkl)
Exec=/home/arcioth/Documents/ctron/run.sh
Icon=preferences-system-performance
Terminal=false
Type=Application
Categories=Utility;Settings;System;HardwareSettings;
